[submodule "pluginHost"]
	path = pluginHost
	url = https://github.com/063Patteera/pluginHost.git
	ignore = dirty
[submodule "pluginInterface"]
	path = pluginInterface
	url = https://github.com/063Patteera/pluginInterface.git
	ignore = dirty
[submodule "plugin1"]
	path = plugin1
	url = https://github.com/063Patteera/plugin1.git
	ignore = dirty
[submodule "plugin2"]
	path = plugin2
	url = https://github.com/063Patteera/plugin2.git
	ignore = dirty
[submodule "plugin3"]
	path = plugin3
	url = https://github.com/063Patteera/plugin3.git
	ignore = dirty
[submodule "plugin4"]
	path = plugin4
	url = https://github.com/063Patteera/plugin4.git
	ignore = dirty
[submodule "pluginsom"]
	path = pluginsom
	url = https://github.com/063Patteera/pluginsom.git
	ignore = dirty
